In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
df=pd.read_csv('BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
df_new=np.array([[50,142,131,70],[435,1523,1356,750]])
df_new

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [11]:
stats.chi2_contingency(df_new)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [14]:
stats.chi2.ppf(1-0.05,3)

7.814727903251179

In [15]:
males=[50,142,131,70]
males

[50, 142, 131, 70]

In [16]:
females=[435,1523,1356,750]
females

[435, 1523, 1356, 750]