In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
df=pd.read_csv('Costomer+OrderForm.csv')
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
df.shape

(300, 4)

In [4]:
a=df['Phillippines']
a

0      Error Free
1      Error Free
2      Error Free
3      Error Free
4      Error Free
          ...
295    Error Free
296    Error Free
297    Error Free
298    Error Free
299    Error Free
Name: Phillippines, Length: 300, dtype: object

In [5]:
b=df['Indonesia']
b

0      Error Free
1      Error Free
2       Defective
3      Error Free
4      Error Free
          ...
295    Error Free
296    Error Free
297    Error Free
298    Error Free
299     Defective
Name: Indonesia, Length: 300, dtype: object

In [6]:
c=df['Malta']
c

0       Defective
1      Error Free
2       Defective
3      Error Free
4       Defective
          ...
295    Error Free
296    Error Free
297     Defective
298    Error Free
299     Defective
Name: Malta, Length: 300, dtype: object

In [7]:
d=df['India']
d

0      Error Free
1       Defective
2      Error Free
3      Error Free
4      Error Free
          ...
295    Error Free
296    Error Free
297    Error Free
298    Error Free
299    Error Free
Name: India, Length: 300, dtype: object

In [8]:
stats.chi2_contingency(a,b,c,d)

TypeError: chi2_contingency() takes from 1 to 3 positional arguments but 4 were given

In [10]:
a1=a.value_counts()
a1

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [11]:
b1=b.value_counts()
b1

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [12]:
c1=c.value_counts()
c1

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [13]:
d1=d.value_counts()
d1

Error Free    280
Defective      20
Name: India, dtype: int64

In [14]:
df1=np.array([[271,267,269,280],[29,33,31,20]])
df1

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [16]:
df1.ndim

2

In [17]:
stats.chi2_contingency(df1)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [18]:
stats.chi2.ppf(1-0.05,3)

7.814727903251179